# Project exclude paths
/example/
/history/
/pict/
/temp/
/.idea/
/exceptions.log
/sketch.txt
/test.py
/test2.py
/test3.py
/picamera2/
/1653808548.mp4
/4.png
/3.png
/2.png
/1.png
/test/
/tuning.json
/screenshot/
/limit
*__pycache__*/
exceptions.log
*.pyc
*.pyo
*.pyd

